src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <flow name="exploration-main">
        <http:listener config-ref="MAIN_LISTENER_CONFIG" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="exploration-config" />
		<error-handler ref="interface-built-in-error-handlers" />
    </flow>
    <flow name="exploration-console">
        <http:listener config-ref="MAIN_LISTENER_CONFIG" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="exploration-config" />
		<error-handler ref="interface-console-built-in-error-handlers" />
    </flow>
	<flow name="get:\exploration:exploration-config">
        <flow-ref doc:name="exploration-get-subflow" doc:id="8a9968b4-dfef-4af4-8705-898c9e67d7b5" name="exploration-get" />
		<error-handler ref="exploration-error-handling" />
    </flow>
    <flow name="post:\exploration:exploration-config">
		<flow-ref doc:name="exploration-post-subflow" doc:id="c8bcd49f-aeab-4fe5-b79b-d91212ab54ad" name="exploration-post"/>
		<error-handler ref="exploration-error-handling" />
    </flow>
</mule>
